<div class="shop">
  <div class="row">
    <%= link_to "", shop, class: "stretched-link", data: { 'turbolinks': false } %>
    <% if maps_path? %>
      <div class="result_label col-xs-1">
        a
      </div>
    <% end %>
    <div class="shop-name col-xs-12">
      <%= shop.name %>
    </div>
    <div class="features col-xs-12">
      <%= render partial: 'shared/features', collection: shop.features, as: 'feature' %>
    </div>
    <div class="col-xs-12 col-md-8">
      <% if shop.images.attached? %>
        <%= image_tag shop.images.first, alt: "店舗の写真" %>
      <% else %>
        <%= image_tag 'no_image.png', alt: "店舗の写真" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <dl>
        <dt>住所</dt>
        <dd><%= shop.address %></dd>
        <dt>営業時間</dt>
        <dd><%= shop.opening %></dd>
        <dt>定休日</dt>
        <dd><%= shop.closed %></dd>
      </dl>
    </div>
  </div>
</div>