<% provide(:title, '店舗一覧') %>

<div class="container-fluid">
  <div class="row content-wrapper">
    <div class="shop-index-wrapper col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h1>店舗一覧</h1>
      
      <div class="col-xs-12">
        <%= search_form_for @q, url: shops_path, id: "top-search-bar" do |f| %>
          <div class="input-group">
            <%= f.search_field :name_or_address_cont, class: "form-control top-form-control", placeholder: '店舗名または都道府県を入力' %>
            <span class="input-group-btn">
              <%= f.button type: :submit, class: "btn-search" do %>
                <i class='fa-solid fa-magnifying-glass'></i>
              <% end %>
            </span>
          </div>
          
          <div class="filter col-xs-12">
            <p>▼ 店舗のジャンルで絞り込む</p>
          </div>
          <%= f.collection_check_boxes :features_id_in, @features, :id, :detail do |b| %>
            <div class="feature-filter col-md-6 col-xs-12">
              <%= image_tag b.object.icon_name, alt: "アイコン", class: "filter-feature-icon" %>
              <%= b.label %>
              <%= b.check_box %>
            </div>
          <% end %>
          <%= f.submit "検索", class: "btn btn-filter" %>
        <% end %>
      </div>

      <% unless @shops.blank? %>
        <div class="shops">
          <%= render partial: 'shop', collection: @shops, as: 'shop' %>
        </div>
        <%= paginate @shops %>
      <% else %>
        <div id="shop-not-found">
          <h4>条件に合う純喫茶がありません</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
