<% provide(:title, @shop.name) %>

<div class="container-fluid">
    <div class="row content-wrapper">
      <div class="col-xs-12 col-md-10 col-md-offset-1" id="shop-detail-wrapper">
        <div class="row">
          <div class="col-xs-12 col-md-9 text-left">
            <h4><%= @shop.kana %></h4>
          </div>
          <div class="col-xs-12 col-md-9 text-left">
            <h1><%= @shop.name %></h1>  
          </div>
          <div class="col-xs-7 col-md-3">
            <%= render 'shops/bookmark_button' %>
          </div>
          <div class="col-xs-12 col-md-12 features">
            <%= render partial: 'shared/features', collection: @shop.features, as: 'feature' %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <% if @shop.images.attached? %>
              <div id="slider">
                <% @shop.images.each do |image| %>
                  <%= image_tag image, alt: "店舗の写真", class: "shop-img" %>
                <% end %>
              </div>
            <% else %>
              <%= image_tag 'no_image.png', alt: "店舗の写真", class: "shop-img" %>
            <% end %>
          </div>
          <div class="shop-info col-xs-12 col-md-5">
            <dl>
              <dt>住所</dt>
              <dd><%= @shop.address %></dd>
              <dt>アクセス</dt>
              <dd><%= @shop.access %></dd>
              <dt>電話番号</dt>
              <dd><%= @shop.phone %></dd>
              <dt>営業時間</dt>
              <dd><%= @shop.opening %></dd>
              <dt>定休日</dt>
              <dd><%= @shop.closed %></dd>
              <dt>禁煙 / 喫煙</dt>
              <dd><%= @shop.smoking %></dd>
              <dt>決済方法</dt>
              <dd><%= @shop.payment %></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>コメント一覧</h3>
          </div>
        </div> 
        <% if @comments.blank? %>
          <div id="comment-not-found" class="col-xs-12">
            <p>コメントはまだ投稿されていません。</p>
          </div>
        <% else %>
          <div id='comment-pagenate'>
            <%= render partial: 'comments', collection: @comments, as: 'comment' %>
          </div>
          <%= link_to_next_page @comments, 'もっと見る', remote: true, class: 'more-link col-xs-12', id: 'more-link' %>
        <% end %>
        <% if current_user %>
          <div class="row">
            <button type="button" class="btn btn-pc" data-toggle="modal" data-target="#PostCommentModal">
              コメントを投稿する
            </button>
          </div>
        <% end %>
        <%= render 'post_comment', { shop: @shop, comment: @comment } %>
        <div class="row">
          <div class="col-xs-12">
            <h3>マップ</h3>
          </div>
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <%= render 'map', { shop: @shop } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<%= javascript_include_tag "googlemap.js" %>