<div class="content-wrapper">
  <div class="user-detail-wrapper">
    <div class="title">
      <% if current_user?(@user) %>
        <%= provide(:title, 'マイページ') %>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <h1>マイページ</h1>
            </div>
          </div>
        </div>
      <% else %>
        <%= provide(:title, @user.name) %>
      <% end %>
    </div>

    <div class="container profile">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <%= image_tag "no_image.png", alt: "アイコン", class: "icon", width: "150", height: "150" %>
          <div class="">
            <h3><%= @user.name %></h3>
            <h4><%= @user.email %></h4>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="container">
      <div class="row bm-shop-wrapper">
        <h3>ブックマーク一覧</h3>
        <% if @user.bookmark_shops.blank? %>
          <p id="bm-not-found">ブックマークした店舗はありません</p>
        <% else %>
          <div class="bm-shops">
            <%= render partial: 'bookmarks', collection: @user.bookmark_shops, as: 'shop' %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <h3>コメント一覧</h3>
        <% if @user.comments.blank? %>
          <p id="cm-not-found">投稿したコメントはありません</p>
        <% else %>
          <div class="user-comments">
            <%= render partial: 'comments', collection: @user.comments, as: 'comment' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>