<div class="content-wrapper">
  <div class="user-detail-wrapper">
    <div class="title">
      <% if current_user?(@user) %>
        <%= provide(:title, 'マイページ') %>
        <div class="container">
          <div class="row">
            <h1>マイページ</h1>
          </div>
        </div>
      <% else %>
        <%= provide(:title, @user.name) %>
      <% end %>
    </div>

    <div class="profile">
      <h4><%= @user.name %></h4>
      <h4><%= @user.email %></h4>
    </div>  
    
    <div class="container">
      <div class="row bm-shop-wrapper">
        <h3>ブックマークした店舗一覧</h3>
        <%= render partial: 'bookmark', collection: @user.bookmark_shops, as: 'shop' %>
      </div>
    </div>
  </div>
</div>