<header class="navbar nav navbar-fixed-top">
  <div class="container-fluid">
    <nav>
      <div class="navbar-left">
        <%= link_to "純喫茶Trip", "#", id: "logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="search-form nav-item">
          <form class="form-inline">
            <input class="form-control mr-sm-1" placeholder="店舗名を入力" type="search" name="" id="">
            <button type="submit" class="btn search_btn">検索</button>
          </form>
        </li>
        <li class="nav-item"><%= link_to "エリア検索", '#' %></li>
        <li class="nav-item"><%= link_to "こだわり条件検索", '#' %></li>
        <li class="nav-item"><%= link_to "新規登録", '#' %></li>
        <li class="nav-item"><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>