<header class="nav navbar navbar-fixed-top collapse navbar-collapse" id="navbarNavAltMarkup"">
  <div class="container-fluid">
    <nav>
      <div class="navbar-left">
        <%= link_to "純喫茶Trip", root_path, id: "logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="search-form nav-item">
          <form class="form-inline">
            <input class="form-control mr-sm-1" placeholder="店舗名を入力" type="search" name="" id="">
            <a href="#" class="btn">
              検索
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </form>
        </li>
        <li class="nav-item"><%= link_to "エリア検索", '#' %></li>
        <li class="nav-item"><%= link_to "こだわり条件検索", '#' %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "マイページ", current_user %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "新規投稿", '#' %></li>
              <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録", signup_path %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>