<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= yield(:title) %> | 純喫茶Trip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- 注意：bodyは<div class="container-fluid>で囲うこと -->
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
